# Configuración de Correo (SMTP Gmail)
EMAIL_HOST_USER=tu-correo@gmail.com
EMAIL_HOST_PASSWORD=tu-clave-de-aplicacion-de-google

# Contraseñas iniciales del sistema
JEFE_PASSWORD=jefepassword123
BOMBERO_PASSWORD=bomberopassword123
ADMIN_PASSWORD=admin123

# Seguridad Django
SECRET_KEY=django-insecure-cambiar-en-produccion
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,localhost:8000

# Base de Datos (PostgreSQL) - Estos valores deben coincidir con docker-compose.yml
DB_NAME=central_bomberos_db
DB_USER=admin_bombero
DB_PASSWORD=ClaveSegura123!
DB_HOST=db
DB_PORT=5432
