{% extends "inventario/base.html" %}
{% load static %}

{% block title %}{% if form.instance.id %}Actualizar Equipo{% else %}Registrar Nuevo Equipo{% endif %}{% endblock %}

{% block body_class %}pg-form-herramienta{% endblock %}

{% block header_title %}📡 Operador: {{ user.username|upper }}{% endblock %}

{% block header_actions %}
        <a href="{% url 'home' %}">◂ Base Central</a>
{% endblock %}

{% block content %}
    <div class="container-wrapper">
        <div class="fire-station-card">
            <div class="hazard-stripe"></div>

            <div class="card-body">
                <h2 class="station-title">
                    🚒 {% if form.instance.id %} Actualizar Herramienta{% else %} Alta de Herramienta{% endif %}
                </h2>

                <form method="POST">
                    {% csrf_token %}

                    <div class="form-grid">
                        <div class="form-group">
                            <label for="{{ form.codigo.id_for_label }}">Código:</label>
                            {{ form.codigo }}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.nombre.id_for_label }}">Nombre Herramienta:</label>
                            {{ form.nombre }}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.estado.id_for_label }}">Condición / Funcionalidad:</label>
                            {{ form.estado }}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.disponibilidad.id_for_label }}">Disponibilidad:</label>
                            {{ form.disponibilidad }}
                        </div>

                        <div class="form-group form-group-full">
                            <label for="{{ form.ubicacion.id_for_label }}">Unidad / Ubicación Destino:</label>
                            {{ form.ubicacion }}
                        </div>
                    </div>

                    <div class="btn-action-group">
                        <button type="submit" class="btn-primary">
                            {% if form.instance.id %}Guardar Cambios{% else %}Registrar Equipo{% endif %}
                        </button>
                        <a href="{% url 'home' %}" class="btn-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}